body {
  background-color: #4357AD;
}

.App p {
  height: 20px;
  width: 200px;
  padding: 5px;
  margin: auto;
  background-color: darkblue;
  border-radius: 5px;
  text-align: right;
}

.App {
  text-align: center;
  width: fit-content;
  height: fit-content;
  background-color: #3330D9;
  color: white;
  font-weight: 600;
  padding: 25px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #8886E9;
  border: black;
  margin: 2px;
  color: white;
  font-weight: 600;
}

.operators {
  background-color: #5553DF;
}